@media(max-width:799px) {
  .footer {
    flex-wrap: wrap;
    padding: 50px 13px 50px 13px;
  }
}

@media(max-width:400px) {
  .footer {
    padding-bottom: 24px;

    .footer-content-1 {
      flex-direction: column;

      .footer-connection {
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }

    .footer-content-2 {
      margin-left: auto;
    }
  }
}