.products-content {
  padding: 48px 42px 50px 42px;
  font-family: MicrosoftJhengHeiRegular;
  color: #3D1101;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products-content .left-section .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products-content .left-section .title img {
  width: 26px;
}

.products-content .left-section .title .title-text {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
}

.products-content .left-section .list {
  margin-top: 16px;
  font-size: 16px;
  width: 220px;
}

.products-content .left-section .list .item {
  border-bottom: #3D1101 3px solid;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 6px;
}

.products-content .left-section .list .item:hover {
  background-color: #3D1101;
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.products-content .right-section {
  max-width: 700px;
  margin-left: 20px;
}

.products-content .right-section .top-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products-content .right-section .top-list .products-search {
  width: 65.7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products-content .right-section .top-list .products-search input {
  width: 92.1%;
  border: #3D1101 2px solid;
  height: 27px;
}

.products-content .right-section .top-list .products-search button {
  width: 36px;
  border: #3D1101 2px solid;
  height: 33px;
  background-color: #3D1101;
}

.products-content .right-section .top-list .products-search button i {
  color: white;
  font-size: 19px;
}

.products-content .right-section .top-list .cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products-content .right-section .top-list .cart .item-1 {
  margin-right: 12px;
}

.products-content .right-section .top-list .cart .item-2 {
  margin-left: 17px;
  position: relative;
}

.products-content .right-section .top-list .cart .item-2 i {
  font-size: 27px;
  color: #3D1101;
}

.products-content .right-section .top-list .cart .item-2 span {
  color: white;
  position: absolute;
  bottom: 15px;
  left: 20px;
  background: #FF5E45;
  border: 1px solid #EFE9E7;
  border-radius: 50px;
  width: 16px;
  height: 16px;
  font-size: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products-content .right-section .products {
  margin-top: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products-content .right-section .products .product {
  width: 220px;
  background: #EFE9E7;
  -webkit-box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
  margin-bottom: 30px;
  text-align: center;
}

.products-content .right-section .products .product .item .img {
  height: 120px;
  background-size: cover;
  position: relative;
}

.products-content .right-section .products .product .item .img i {
  z-index: 10;
  color: white;
  position: absolute;
  top: 9px;
  left: 9px;
  cursor: pointer;
}

.products-content .right-section .products .product .item .img i:hover {
  color: red;
}

.products-content .right-section .products .product .item .img .ribbon-wrap {
  position: relative;
  width: 220px;
  height: 120px;
}

.products-content .right-section .products .product .item .img .ribbon-wrap .ribbon-box {
  width: 220px;
  height: 120px;
  top: -10px;
  right: -10px;
  position: absolute;
  overflow: hidden;
}

.products-content .right-section .products .product .item .img .ribbon-wrap .ribbon-box .ribbon {
  position: absolute;
  right: -35px;
  top: 20px;
  width: 140px;
  font-size: 14px;
  padding: 6px 0;
  background-color: #00CC99;
  text-align: center;
  color: #fff;
  -webkit-transform: rotate(-315deg);
          transform: rotate(-315deg);
  z-index: 2;
}

.products-content .right-section .products .product .item .img .ribbon-box:after,
.products-content .right-section .products .product .item .img .ribbon-box:before {
  position: absolute;
  content: '';
  display: block;
  border: 5px solid #029c76;
  z-index: 1;
}

.products-content .right-section .products .product .item .img .ribbon-box:after {
  top: 0%;
  left: 64%;
  -webkit-transform: translate(-63%);
          transform: translate(-63%);
}

.products-content .right-section .products .product .item .img .ribbon-box:before {
  top: 64%;
  right: -3%;
  -webkit-transform: translate(-63%);
          transform: translate(-63%);
}

.products-content .right-section .products .product .item .title h3 {
  font-family: MicrosoftJhengHeiRegular;
  font-size: 20px;
  color: #3D1101;
  margin-top: 11px;
}

.products-content .right-section .products .product .item .title p {
  font-family: MicrosoftJhengHeiRegular;
  font-size: 12px;
  color: #3D1101;
}

.products-content .right-section .products .product .item .title .line {
  margin: 8px auto 20px auto;
  width: 91px;
  border-bottom: #3D1101 1px solid;
}

.products-content .right-section .products .product .item .price {
  font-family: Roboto-Light;
  font-size: 20px;
  color: #3D1101;
  margin-bottom: 13px;
}

.products-content .right-section .products .product .item .join-btn {
  width: 90.9%;
  margin: 0px auto 10px auto;
}

.products-content .right-section .products .product .item .join-btn button {
  width: 100%;
  border: 2px solid #FF5E45;
  border-radius: 3px;
  color: #FF5E45;
  background-color: Transparent;
}
/*# sourceMappingURL=products-content.css.map */