.register-content .register-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  margin-bottom: 15px;
}

.register-content .register-title p {
  font-family: NotoSansCJKtc-Medium;
  font-size: 20px;
  color: #3D1101;
  margin-top: 5px;
}

.register-content .register-section {
  width: 620px;
  height: 316px;
  margin: 0px auto;
  border-top: #FF5E45 3px solid;
  background: #EFE9E7;
  -webkit-box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
  padding-top: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.register-content .register-section h2 {
  text-align: center;
  font-family: NotoSansCJKtc-Black;
  font-size: 18px;
  color: #3D1101;
}

.register-content .register-section .register-content-section {
  padding: 16px 15px 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.register-content .register-section .register-content-section .left-section {
  width: 48.3%;
  font-family: MicrosoftJhengHeiRegular;
  font-size: 18px;
  color: #3D1101;
  line-height: 20px;
}

.register-content .register-section .register-content-section .right-section {
  width: 48.3%;
}

.register-content .register-section .register-content-section .right-section .input {
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ECECEC;
          box-shadow: inset 0px 1px 0px 0px #ECECEC;
  border-radius: 3px;
  margin-top: 3px;
}

.register-content .register-section .register-content-section .right-section .input i {
  padding: 10px 9px;
}

.register-content .register-section .register-content-section .right-section .input input {
  border: none;
  height: 32px;
  width: 86%;
}

.register-content .register-section .register-content-section .right-section p {
  margin-top: 1px;
}

.register-content .register-section .register-content-section .right-section p a {
  text-decoration: none;
  font-family: MicrosoftJhengHeiRegular;
  font-size: 14px;
  color: #FF5E45;
}

.register-content .register-section .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-right: 17px;
  margin-bottom: 15px;
}

.register-content .register-section .btn button {
  width: 125px;
  height: 32px;
  background: #F56C23;
  border-radius: 3px;
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
}
/*# sourceMappingURL=register.css.map */